<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.taylor.dao.TestDao">
	<resultMap id="BaseResultMap" type="com.taylor.entity.TestEntity">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		t.id,
		t.name
	</sql>
	<select id="findByCondition" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM test t
		<where>
			<if test="query.id !=null">
				and id=#{query.id,jdbcType=BIGINT}
			</if>
			<if test="query.name !=null">
				and name=#{query.name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="findTotalCount" resultType="java.lang.Integer">
		SELECT count(1) FROM test t
		<where>
			<if test="query.id !=null">
				and id=#{query.id,jdbcType=BIGINT}
			</if>
			<if test="query.name !=null">
				and name=#{query.name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<insert id="save" keyProperty="entity.id" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO test(name)
		VALUES (
		#{entity.name,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update">
		UPDATE test
		SET
		name=#{entity.name,jdbcType=VARCHAR}
		WHERE id = #{entity.id,jdbcType=BIGINT}
	</update>

	<select id="getByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM test t
		WHERE t.id = #{id,jdbcType=BIGINT}
	</select>

	<select id="get" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM test t
		WHERE id = #{entity.id,jdbcType=BIGINT}
	</select>

	<delete id="delByPrimaryKey">
		DELETE FROM test
		WHERE id = #{id ,jdbcType=BIGINT}
	</delete>

	<delete id="del">
		DELETE FROM test
		WHERE id = #{entity.id,jdbcType=BIGINT}
	</delete>
</mapper>
